## WORKING WITH DATE AND TIME IN PYTHON

### Technical requirements

In [5]:
import pandas as pd
import numpy as np
import datetime as dt

### Compare Python's datetime.datetime and Panda's Timestamp and DatetimeIndex

In [15]:
dt1 = dt.datetime(2022, 1, 1)
dt2 = pd.Timestamp(2022-1-1)
dt3 = pd.to_datetime('2022-1-1')

print(dt1)
print(dt2)
print(dt3)

2022-01-01 00:00:00
1970-01-01 00:00:00.000002020
2022-01-01 00:00:00

In [18]:
print(type(dt1))
print(type(dt2))
print(type(dt3))

<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [19]:
dt1 == dt2 == dt3

False

In [21]:
isinstance(dt2, dt.datetime)

True

In [22]:
isinstance(dt1, pd.Timestamp)

False

### Dealing with different time formats

In [25]:
dates = ['2021-01-01', '2/1/2021', '03-01-2021', 'April 1, 2021', '20210501', np.datetime64('2021-07-01'), dt.datetime(2021, 8, 1), pd.Timestamp(2021, 9, 1)]
parsed_dates=pd.DatetimeIndex(dates)
parsed_dates

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-07-01', '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', freq=None)

### Extracting useful information from DatetimeIndex

In [26]:
print(f'Name of day: {parsed_dates.day_name()}')

Name of day: Index(['Friday', 'Monday', 'Monday', 'Thursday', 'Saturday', 'Thursday',
       'Sunday', 'Wednesday'],
      dtype='object')

In [27]:
print(f'Name of month: {parsed_dates.month_name()}')

Name of month: Index(['January', 'February', 'March', 'April', 'May', 'July', 'August',
       'September'],
      dtype='object')

In [29]:
print(f'Name of year: {parsed_dates.year}')

Name of year: Index([2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021], dtype='int32')

In [31]:
print(f'Days in month: {parsed_dates.days_in_month}')

Days in month: Index([31, 28, 31, 30, 31, 31, 31, 30], dtype='int32')

In [31]:
print(f'Days in month: {parsed_dates.days_in_month}')

Days in month: Index([31, 28, 31, 30, 31, 31, 31, 30], dtype='int32')

### pd.date_range()

In [33]:
pd.date_range(start='2021-01-01', periods=3, freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range(start='2021-01-01', end='2021-03-01', freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01'],
              dtype='datetime64[ns]', freq='D')

In [36]:
pd.date_range(start='2021-01-01', end='2021-03-01', periods=5)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-15 18:00:00',
               '2021-01-30 12:00:00', '2021-02-14 06:00:00',
               '2021-03-01 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [38]:
pd.date_range(start='2021-01-01', periods=3)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range(start='2021-01-01', freq='D', periods=5)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05'],
              dtype='datetime64[ns]', freq='D')

### Custom date formatting

In [44]:
pd.to_datetime('1/1/2022', format='%m/%d/%Y')

Timestamp('2022-01-01 00:00:00')

In [46]:
pd.to_datetime('April 4, 1999', format='%B %d, %Y')

Timestamp('1999-04-04 00:00:00')

In [48]:
pd.to_datetime('Friday, April 9, 1999', format='%A, %B %d, %Y')

Timestamp('1999-04-09 00:00:00')

### Parsing string objects to Datetime

In [49]:
df = pd.DataFrame({
    'Date': ['January 1, 2022', 'January 2, 2022', 'January 3, 2022'],
    'Sales': [23000, 19020, 21000]
})
df

              Date  Sales
0  January 1, 2022  23000
1  January 2, 2022  19020
2  January 3, 2022  21000

### Update DataFrame to include DatetimeIndex

In [53]:
df['Date'] = pd.DatetimeIndex(df['Date'])
df.set_index('Date', inplace=True)
df

            Sales
Date
2022-01-01  23000
2022-01-02  19020
2022-01-03  21000

### Time Deltas

In [62]:
data = pd.DataFrame({
    'items': ['item 1', 'item 2', 'item 3', 'item 4', 'item 5', 'item 6'], 
    'purchase dates': pd.date_range(start='2021-01-01', periods=6, tz='UTC')
})
data

    items            purchase dates
0  item 1 2021-01-01 00:00:00+00:00
1  item 2 2021-01-02 00:00:00+00:00
2  item 3 2021-01-03 00:00:00+00:00
3  item 4 2021-01-04 00:00:00+00:00
4  item 5 2021-01-05 00:00:00+00:00
5  item 6 2021-01-06 00:00:00+00:00

In [63]:
data['expiry dates'] = data['purchase dates'] + pd.Timedelta(days=30)
data

    items            purchase dates              expiry dates
0  item 1 2021-01-01 00:00:00+00:00 2021-01-31 00:00:00+00:00
1  item 2 2021-01-02 00:00:00+00:00 2021-02-01 00:00:00+00:00
2  item 3 2021-01-03 00:00:00+00:00 2021-02-02 00:00:00+00:00
3  item 4 2021-01-04 00:00:00+00:00 2021-02-03 00:00:00+00:00
4  item 5 2021-01-05 00:00:00+00:00 2021-02-04 00:00:00+00:00
5  item 6 2021-01-06 00:00:00+00:00 2021-02-05 00:00:00+00:00

In [64]:
data['extended dates'] = data['purchase dates'] + pd.Timedelta(days=35, hours=12, minutes=30)
data

,items,purchase dates,expiry dates,extended dates
0,item 1,2021-01-01 00:00:00+00:00,2021-01-31 00:00:00+00:00,2021-02-05 12:30:00+00:00
1,item 2,2021-01-02 00:00:00+00:00,2021-02-01 00:00:00+00:00,2021-02-06 12:30:00+00:00
2,item 3,2021-01-03 00:00:00+00:00,2021-02-02 00:00:00+00:00,2021-02-07 12:30:00+00:00
3,item 4,2021-01-04 00:00:00+00:00,2021-02-03 00:00:00+00:00,2021-02-08 12:30:00+00:00
4,item 5,2021-01-05 00:00:00+00:00,2021-02-04 00:00:00+00:00,2021-02-09 12:30:00+00:00
5,item 6,2021-01-06 00:00:00+00:00,2021-02-05 00:00:00+00:00,2021-02-10 12:30:00+00:00